*{
    margin:0px ;
    padding: 0px;
    font-family: 'Roboto';
    box-sizing: border-box;
}
body{
    background: #080808;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
}

.profileimg{
    height: 630px;
    width: 650px;
}
.container{
    padding: 10px 10%;
}
.topLogoname{
    font-size: 39px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topLogoname_sapn{
    color: rgb(247, 0, 95);
    font-size: 40px;
}
.paraname{
    font-size: 33px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 a{
    color: #fff;
    text-decoration: none;
}
nav{
    margin-bottom: -120px;
}
.namefiled_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.saobvab{
    font-size: 53px;
}
.detail_about{
    font-size: 30px;
}
.detail_about h1{
    font-size: 70px;
    margin-top: 20px;  
}
.detail_about h1 span{
    color: rgb(247, 0, 95) ;
}
.about-col-1 img{
    height: 350px;
    width: 280px;
    border-radius: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.about-col-2{
    width: 700px;
}
.about-col-2 p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 100;
    color: rgb(134, 130, 130);
}
.about-col-2 h1{
    font-size: 37px;
    font-family: 'Roboto';
}
.about_nav_container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -20px;
}
.about_nav_container p{
    color: black;
    cursor: pointer;
    margin: 10px;
}
.educaiton_container ul li span{
    margin-bottom: 20px;
    color:  rgb(247, 0, 95);
}
.educaiton_container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.educaiton_container ul li{
    font-size: 19px;
    list-style: none;
}
.educaiton_container{
    display:none;
}
.activetab{
    display: block;
}
.activelink{
 text-decoration:underline ;
 text-decoration-color:  rgb(247, 0, 95);
}
#portfolio{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    height: 100%;
    width: 100%;
    border-radius:10px ;
    display: block;
    transform: transform 0.5s;
} 
span{
    color: rgb(212, 214, 60);
    font-size: 19px;
    font-weight: 600;
}
.layer{
    width: 100%; 
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    padding: 0 6px;
    text-align: center;
    transition: height 0.5s;
    color: white;
    
    
}
.layer h1{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 10px;

}
.layer p{
    font-weight: 100;
    margin-bottom: 10px;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
button{
    height: 40px;
    width: 120px;
    border-color: #ff004f;
    border-radius: 17px;
    border-width: 1px solid;
    color: #ff004f;
    font-size: 29px;
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0px;
    outline: none;
    background-color: #cecece;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;

}




@media screen and (max-width:600px) {
    .profileimg{
        height: 530px;
        width: 510px;
        margin-left: -180px;
    }
    .detail_about h1{
        font-size: 28px;
        font-weight: bolder;
    }
    .detail_about p{
        font-size: 20px;
        font-weight: 600;
    }
    .detail_about{
        margin-left: -180px;
        padding: 20px;
    }
    .saobvab{
        font-size: 26px;
    }
    #about{
        padding: 20px;
    }
    .contact-left{
        flex-basis: 100%;
        margin: 40px;
    }
    .contact-right{
        flex-basis: 100%;
        margin: 20px;
    }
    #portfolio{
        margin-right: 10px;
    }

}

#msg{
    color: #61b752;
    display: block;
}